notas.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:element name="nfeProc">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NFe">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="infNFe" />
                            <xs:element ref="Signature" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="protNFe">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="infProt">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tpAmb" type="xs:string" />
                                        <xs:element name="verAplic" type="xs:string" />
                                        <xs:element name="chNFe" type="xs:string" />
                                        <xs:element name="dhRecbto" type="xs:string" />
                                        <xs:element name="nProt" type="xs:string" />
                                        <xs:element name="digVal" type="xs:string" />
                                        <xs:element name="cStat" type="xs:string" />
                                        <xs:element name="xMotivo" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="Signature" minOccurs="0" />
                        </xs:sequence>
                        <xs:attribute name="versao" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="versao" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="infNFe">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ide" />
                <xs:element ref="emit" />
                <xs:element ref="dest" />
                <xs:element ref="entrega" minOccurs="0" />
                <xs:element ref="det" maxOccurs="unbounded"/>
                <xs:element ref="total" />
                <xs:element ref="transp" />
                <xs:element ref="infAdic" />
            </xs:sequence>
            <xs:attribute name="Id" type="xs:string" use="required" />
            <xs:attribute name="versao" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="ide">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cUF" type="xs:string" />
                <xs:element name="cNF" type="xs:string" />
                <xs:element name="natOp" type="xs:string" />
                <xs:element name="indPag" type="xs:string" />
                <xs:element name="mod" type="xs:string" />
                <xs:element name="serie" type="xs:string" />
                <xs:element name="nNF" type="xs:string" />
                <xs:element name="dEmi" type="xs:string" />
                <xs:element name="dSaiEnt" type="xs:string" minOccurs="0" />
                <xs:element name="tpNF" type="xs:string" />
                <xs:element name="idDest" type="xs:string" minOccurs="0" />
                <xs:element name="cMunFG" type="xs:string" />
                <xs:element name="tpImp" type="xs:string" />
                <xs:element name="tpEmis" type="xs:string" />
                <xs:element name="cDV" type="xs:string" />
                <xs:element name="tpAmb" type="xs:string" />
                <xs:element name="finNFe" type="xs:string" />
                <xs:element name="indFinal" type="xs:string" minOccurs="0" />
                <xs:element name="indPres" type="xs:string" minOccurs="0" />
                <xs:element name="procEmi" type="xs:string" />
                <xs:element name="verProc" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="emit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CNPJ" type="xs:string" />
                <xs:element name="xNome" type="xs:string" />
                <xs:element name="xFant" type="xs:string" />
                <xs:element name="enderEmit">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="xLgr" type="xs:string" />
                            <xs:element name="nro" type="xs:string" />
                            <xs:element name="xCpl" type="xs:string" minOccurs="0" />
                            <xs:element name="xBairro" type="xs:string" />
                            <xs:element name="cMun" type="xs:string" />
                            <xs:element name="xMun" type="xs:string" />
                            <xs:element name="UF" type="xs:string" />
                            <xs:element name="CEP" type="xs:string" />
                            <xs:element name="cPais" type="xs:string" />
                            <xs:element name="xPais" type="xs:string" />
                            <xs:element name="fone" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="IE" type="xs:string" />
                <xs:element name="CRT" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="dest">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="CNPJ" type="xs:string" />
                    <xs:element name="CPF" type="xs:string" />
                </xs:choice>
                <xs:element name="xNome" type="xs:string" />
                <xs:element name="enderDest">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="xLgr" type="xs:string" />
                            <xs:element name="nro" type="xs:string" />
                            <xs:element name="xCpl" type="xs:string" />
                            <xs:element name="xBairro" type="xs:string" />
                            <xs:element name="cMun" type="xs:string" />
                            <xs:element name="xMun" type="xs:string" />
                            <xs:element name="UF" type="xs:string" />
                            <xs:element name="CEP" type="xs:string" />
                            <xs:element name="cPais" type="xs:string" />
                            <xs:element name="xPais" type="xs:string" />
                            <xs:element name="fone" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="IE" type="xs:string" />
                <xs:element name="email" type="xs:string" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="entrega">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="CNPJ" type="xs:string" />
                    <xs:element name="CPF" type="xs:string" />
                </xs:choice>
                <xs:element name="xLgr" type="xs:string" />
                <xs:element name="nro" type="xs:string" />
                <xs:element name="xCpl" type="xs:string" minOccurs="0" />
                <xs:element name="xBairro" type="xs:string" />
                <xs:element name="cMun" type="xs:string" />
                <xs:element name="xMun" type="xs:string" />
                <xs:element name="UF" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="det">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="prod">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cProd" type="xs:string" />
                            <xs:element name="cEAN" type="xs:string" minOccurs="0" />
                            <xs:element name="xProd" type="xs:string" />
                            <xs:element name="NCM" type="xs:string" />
                            <xs:element name="EXTIPI" type="xs:string" minOccurs="0" />
                            <xs:element name="CFOP" type="xs:string" />
                            <xs:element name="uCom" type="xs:string" />
                            <xs:element name="qCom" type="xs:string" />
                            <xs:element name="vUnCom" type="xs:string" />
                            <xs:element name="vProd" type="xs:string" />
                            <xs:element name="cEANTrib" type="xs:string" minOccurs="0" />
                            <xs:element name="uTrib" type="xs:string" />
                            <xs:element name="qTrib" type="xs:string" />
                            <xs:element name="vUnTrib" type="xs:string" />
                            <xs:element name="vFrete" type="xs:string" minOccurs="0" />
                            <xs:element name="vSeg" type="xs:string" minOccurs="0" />
                            <xs:element name="vDesc" type="xs:string" minOccurs="0" />
                            <xs:element name="vOutro" type="xs:string" minOccurs="0" />
                            <xs:element name="indTot" type="xs:string" minOccurs="0" />
                            <xs:element name="xPed" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="imposto">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ICMS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="ICMS00">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="orig" type="xs:string" />
                                                        <xs:element name="CST" type="xs:string" />
                                                        <xs:element name="modBC" type="xs:string" />
                                                        <xs:element name="vBC" type="xs:string" />
                                                        <xs:element name="pICMS" type="xs:string" />
                                                        <xs:element name="vICMS" type="xs:string" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="ICMS60">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="orig" type="xs:string" />
                                                        <xs:element name="CST" type="xs:string" />
                                                        <xs:element name="vBCSTRet" type="xs:string" />
                                                        <xs:element name="vICMSSTRet"
                                                            type="xs:string" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="IPI" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="clEnq" type="xs:string" minOccurs="0" />
                                        <xs:element name="cSelo" type="xs:string" minOccurs="0" />
                                        <xs:element name="qSelo" type="xs:string" minOccurs="0" />
                                        <xs:element name="cEnq" type="xs:string" minOccurs="0" />
                                        <xs:element name="IPITrib" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CST" type="xs:string" />
                                                    <xs:element name="vBC" type="xs:string"
                                                        minOccurs="0" />
                                                    <xs:element name="pIPI" type="xs:string"
                                                        minOccurs="0" />
                                                    <xs:element name="qUnid" type="xs:string"
                                                        minOccurs="0" />
                                                    <xs:element name="vUnid" type="xs:string"
                                                        minOccurs="0" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="IPINT">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CST" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PIS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="PISAliq">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="CST" type="xs:string" />
                                                        <xs:element name="vBC" type="xs:string" />
                                                        <xs:element name="pPIS" type="xs:string" />
                                                        <xs:element name="vPIS" type="xs:string" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="PISNT">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="CST" type="xs:string" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="COFINS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element name="COFINSAliq">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="CST" type="xs:string" />
                                                        <xs:element name="vBC" type="xs:string" />
                                                        <xs:element name="pCOFINS" type="xs:string" />
                                                        <xs:element name="vCOFINS" type="xs:string" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="COFINSNT">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="CST" type="xs:string" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="infAdProd" type="xs:string" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="nItem" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="total">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ICMSTot">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="vBC" type="xs:string" />
                            <xs:element name="vICMS" type="xs:string" />
                            <xs:element name="vICMSDeson" type="xs:string" minOccurs="0" />
                            <xs:element name="vFCP" type="xs:string" minOccurs="0" />
                            <xs:element name="vBCST" type="xs:string" />
                            <xs:element name="vST" type="xs:string" />
                            <xs:element name="vFCPST" type="xs:string" minOccurs="0" />
                            <xs:element name="vFCPSTRet" type="xs:string" minOccurs="0" />
                            <xs:element name="vProd" type="xs:string" />
                            <xs:element name="vFrete" type="xs:string" />
                            <xs:element name="vSeg" type="xs:string" />
                            <xs:element name="vDesc" type="xs:string" />
                            <xs:element name="vII" type="xs:string" />
                            <xs:element name="vIPI" type="xs:string" />
                            <xs:element name="vIPIDevol" type="xs:string" minOccurs="0" />
                            <xs:element name="vPIS" type="xs:string" />
                            <xs:element name="vCOFINS" type="xs:string" />
                            <xs:element name="vOutro" type="xs:string" />
                            <xs:element name="vNF" type="xs:string" />
                            <xs:element name="vTotTrib" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="transp">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="modFrete" type="xs:string" />
                <xs:element name="transporta" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:element name="CNPJ" type="xs:string" minOccurs="0" />
                                <xs:element name="CPF" type="xs:string" minOccurs="0" />
                            </xs:choice>
                            <xs:element name="xNome" type="xs:string" minOccurs="0" />
                            <xs:element name="IE" type="xs:string" minOccurs="0" />
                            <xs:element name="xEnder" type="xs:string" minOccurs="0" />
                            <xs:element name="xMun" type="xs:string" minOccurs="0" />
                            <xs:element name="UF" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="vol">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="qVol" type="xs:string" />
                            <xs:element name="esp" type="xs:string" minOccurs="0" />
                            <xs:element name="marca" type="xs:string" minOccurs="0" />
                            <xs:element name="nVol" type="xs:string" minOccurs="0" />
                            <xs:element name="pesoL" type="xs:string" minOccurs="0" />
                            <xs:element name="pesoB" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="infAdic">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="infCpl" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Signature">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SignedInfo" />
                <xs:element name="SignatureValue" type="xs:string" />
                <xs:element name="KeyInfo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="X509Data">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="X509Certificate"
                                            type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>

    <xs:element name="SignedInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CanonicalizationMethod">
                    <xs:complexType>
                        <xs:attribute name="Algorithm" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="SignatureMethod">
                    <xs:complexType>
                        <xs:attribute name="Algorithm" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="Reference">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transforms">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Transform" minOccurs="1"
                                            maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="Algorithm" type="xs:string"
                                                    use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DigestMethod">
                                <xs:complexType>
                                    <xs:attribute name="Algorithm" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DigestValue" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="URI" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>